<!DOCTYPE html>
<html lang="{{ language }}">
    <head>
    {% block header %}{% include 'master/header.twig' %}{% endblock %}
</head>
<body{% if view.protectClose %} onBeforeUnload='return iCanClose()'{% endif %}>

    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Alixar</a>
                <!-- Show logo on menu 
                <div class="blockvmenuimpair blockvmenulogo">
                    <div class="menu_titre" id="menu_titre_logo"></div>
                    <div class="menu_top" id="menu_top_logo"></div>
                    <div class="menu_contenu" id="menu_contenu_logo">
                        <div class="center">
                            <img class="mycompany" title="Vaya a Inicio-&gt;Configuraci&oacute;n-&gt;Empresa/Instituci&oacute;n para cambiar el logo o vaya a Inicio-&gt;Configuraci&oacute;n-&gt;Entorno para ocultarlo" alt="" src="{{ view.addResource('/img/logo','jpg') }}" style="max-width: 70%">
                        </div>
                    </div><div class="menu_end" id="menu_end_logo"></div></div>
                -->
            </div>
            <!-- /.navbar-header -->
            {% include 'master/topmenu.twig' %}

            {% include 'master/leftmenu.twig' %}
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{{ title }}</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>

        {% block body %}{% endblock %}<hr>

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

{% block footer %}{% include 'master/footer.twig' %}{% endblock %}
</body>
