<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>{{main.title}}</title>
<meta name="description" content="{{ main.description | raw }}"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="generator" content="Alxarafe"/>
<link rel="shortcut icon" href="images/favicon.ico"/>
{% for css in cssCode %}
    <link rel="stylesheet" href="{{ css }}"/>
{% endfor %}

<!-- Includes CSS for JQuery (Ajax library) -->
<link rel="stylesheet" type="text/css" href="http://localhost/alixar/dolibarr/htdocs/includes/jquery/css/base/jquery-ui.css?layout=classic&version=10.0.0-alpha">
<link rel="stylesheet" type="text/css" href="http://localhost/alixar/dolibarr/htdocs/includes/jquery/plugins/jnotify/jquery.jnotify-alt.min.css?layout=classic&version=10.0.0-alpha">
<link rel="stylesheet" type="text/css" href="http://localhost/alixar/dolibarr/htdocs/includes/jquery/plugins/select2/dist/css/select2.css?layout=classic&version=10.0.0-alpha">
<!-- Includes CSS for font awesome -->
<link rel="stylesheet" type="text/css" href="http://localhost/alixar/vendor/maximebf/debugbar/src/DebugBar/Resources/vendor/font-awesome/css/font-awesome.min.css?layout=classic&version=10.0.0-alpha">
<!-- Includes CSS for Dolibarr theme -->
<link rel="stylesheet" type="text/css" href="http://localhost/alixar/?controller=theme/eldy&method=style.css&lang=es_ES&amp;theme=eldy&amp;userid=1&amp;entity=1&amp;layout=classic&version=10.0.0-alpha">
<!-- Includes JS for JQuery -->
<script type="text/javascript" src="http://localhost/alixar/vendor/components/jquery/jquery.min.js?layout=classic&version=10.0.0-alpha"></script>
<script type="text/javascript" src="http://localhost/alixar/vendor/components/jqueryui/jquery-ui.min.js?layout=classic&version=10.0.0-alpha"></script>
<script type="text/javascript" src="http://localhost/alixar/dolibarr/htdocs/includes/jquery/plugins/tablednd/jquery.tablednd.min.js?layout=classic&version=10.0.0-alpha"></script>
<script type="text/javascript" src="http://localhost/alixar/dolibarr/htdocs/includes/jquery/plugins/jnotify/jquery.jnotify.min.js?layout=classic&version=10.0.0-alpha"></script>
<script type="text/javascript" src="http://localhost/alixar/dolibarr/htdocs/includes/jquery/plugins/flot/jquery.flot.min.js?layout=classic&version=10.0.0-alpha"></script>
<script type="text/javascript" src="http://localhost/alixar/dolibarr/htdocs/includes/jquery/plugins/flot/jquery.flot.pie.min.js?layout=classic&version=10.0.0-alpha"></script>
<script type="text/javascript" src="http://localhost/alixar/dolibarr/htdocs/includes/jquery/plugins/flot/jquery.flot.stack.min.js?layout=classic&version=10.0.0-alpha"></script>
<script type="text/javascript" src="http://localhost/alixar/dolibarr/htdocs/includes/jquery/plugins/select2/dist/js/select2.full.min.js?layout=classic&version=10.0.0-alpha"></script>
<script type="text/javascript" src="http://localhost/alixar/dolibarr/htdocs/includes/jquery/plugins/multiselect/jquery.multi-select.js?layout=classic&version=10.0.0-alpha"></script>
<!-- Includes JS for CKEditor -->
<script type="text/javascript">var CKEDITOR_BASEPATH = 'http://localhost/alixar/vendor/ckeditor/ckeditor/';
var ckeditorConfig = 'http://localhost/alixar/dolibarr/htdocs/theme/eldy/ckeditor/config.js?layout=classic&version=10.0.0-alpha';
var ckeditorFilebrowserBrowseUrl = 'http://localhost/alixar/dolibarr/htdocs/core/filemanagerdol/browser/default/browser.php?Connector=http://localhost/alixar/dolibarr/htdocs/core/filemanagerdol/connectors/php/connector.php';
    var ckeditorFilebrowserImageBrowseUrl = 'http://localhost/alixar/dolibarr/htdocs/core/filemanagerdol/browser/default/browser.php?Type=Image&Connector=http://localhost/alixar/dolibarr/htdocs/core/filemanagerdol/connectors/php/connector.php';
</script>
<script type="text/javascript" src="http://localhost/alixar/vendor/ckeditor/ckeditor/ckeditor.js?layout=classic&version=10.0.0-alpha"></script>
<!-- Includes JS of Dolibarr -->
<script type="text/javascript" src="http://localhost/alixar?controller=core/js/&method=lib_head.js&lang=es_ES&layout=classic&version=10.0.0-alpha"></script>

<!-- start of getHeader -->
{{ view.getHeader() | raw }}
<!-- end of getHeader -->
